#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 8,0,2020,1
PRODUCTVERSION 8,0,2020,1
FILEOS 0x00000000
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "8-1480a8b06a74\0" //do not change this
      VALUE "ProductVersion", "8-1480a8b06a74\0" //do not change this
      VALUE "FileDescription", "swirlBC.exe - Built for blueCFD(R)-Core, by FSD blueCAPE Lda.\0"
      VALUE "LegalCopyright", "OpenFOAM is Copyright (C) 2011-20 OpenFOAM Foundation. Is also open source software, under the license GNU GPLv3: http://www.gnu.org/licenses/\0"
      VALUE "LegalTrademarks", "OpenFOAM is a trade mark of OpenCFD (ESI Group). blueCFD is a trade mark of FSD blueCAPE Lda.\0"
      VALUE "ProductName", "Unofficial port of OpenFOAM. Port website: http://bluecfd.github.io/Core/\0"
      VALUE "InternalName", "swirlBC.exe\0"
      VALUE "OriginalFilename", "swirlBC.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
